!!! 5

%html

  %head

    %meta{ charset: 'utf-8' }/
    %meta{ name: 'viewport', content: 'width=device-width', 'initial-scale' => 1.0 }/

    %title #{ ( content_for(:title) ? 'yield(:title) | ' : '' ) }SmartCards

    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400', '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{ data: { controller: "#{controller_name}", action: "#{action_name}" }, class: "#{controller_name}-#{action_name}" }

    - flash.each do |type, message|
      - if type.starts_with?('comprehension')
        .flash.modal.open.comprehension
          .modal-content
            = message.html_safe

    = render 'layouts/header'

    %main.site-content

      - flash.each do |type, message|
        - if %w(error notice alert).include?( type )
          .flash{ class: type }
            = message

      = yield
